<!DOCTYPE html>
<html>
<head>
  <title>cgemma demo</title>
  <meta charset="UTF-8">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link rel="stylesheet" href="https://unpkg.com/element-ui@2.15.14/lib/theme-chalk/index.css">
  <link rel="stylesheet" href="css/index.css">
</head>
<body>
  <div id="app" class="client-area">
    <div :style="appContainer">
      <el-card ref="messages" header="Chat to Gemma" :style="msgContainer">
        <table v-if="messages.length > 0">
          <tr v-for="(msg, idx) in messages" :key="'msg_' + idx">
            <td style="vertical-align:top;width:50px;">
              <img v-if="msg.role === 'gemma'" class="avatar" src="img/gemma_avatar.png">
              <img v-else-if="msg.role === 'user'" class="avatar" src="img/default_avatar.png">
            </td>
            <td>
              <div v-if="msg.role === 'system'">
                <b style="color:#909399">{{ msg.text }}</b>
              </div>
              <div v-else-if="msg.role === 'error'">
                <b style="color:#F56C6C">{{ 'Error: ' + msg.text }}</b>
              </div>
              <div v-else>
                <div style="margin-bottom:10px">
                  <b v-if="msg.role === 'user'" style="color:Chocolate">You</b>
                  <b v-else>Gemma</b>
                </div>
                <div class="bubble"><pre>{{ msg.text }}</pre></div>
              </div>
            </td>
          </tr>
        </table>
        <el-empty v-else />
      </el-card>
      <p>
        <el-input v-model="text" placeholder="Enter your message here" :disabled="!ws" @keyup.enter.native="sendText">
          <el-button slot="append" :disabled="!text" @click="sendText">Send</el-button>
        </el-input>
      </p>
    </div>
  </div>
</body>
<script src="https://unpkg.com/vue@2.7.15/dist/vue.min.js"></script>
<script src="https://unpkg.com/element-ui@2.15.14/lib/index.js"></script>
<script>
  const wsUrl = window.location.origin.replace('http', 'ws') + '/cgemma/session'
  new Vue({
    el: '#app',
    data() {
      return {
        clientHeight: 0,
        clientWidth: 0,
        ws: null,
        messages: [{role: 'system', text: 'Loading model...'}],
        text: ''
      }
    },
    computed: {
      appContainer() {
        const margin = this.clientWidth > 800 ? (this.clientWidth - 800) / 2 : 0
        return {
          marginLeft: margin + 'px',
          marginRight: margin + 'px',
          padding: '8px'
        }
      },
      msgContainer() {
        return {
          height: this.clientHeight - 90 + 'px',
          overflowY: 'auto'
        }
      }
    },
    mounted() {
      this.clientHeight = this.$el.clientHeight
      this.clientWidth = this.$el.clientWidth
      window.onresize = () => {
        this.clientHeight = this.$el.clientHeight
        this.clientWidth = this.$el.clientWidth
      }
      const ws = new WebSocket(wsUrl)
      ws.onerror = evt => {
        this.messages.push({
          role: 'error',
          text: 'Connection error!'
        })
        this.ws = null
      }
      ws.onclose = evt => {
        this.messages.push({
          role: 'error',
          text: 'Connection closed!'
        })
        this.ws = null
      }
      ws.onopen = evt => {
        ws.onmessage = evt => {
          this.handleMessage(JSON.parse(evt.data))
        }
        this.ws = ws
      }
    },
    methods: {
      sendText() {
        if (this.text) {
          const msg = {
            role: 'user',
            text: this.text
          }
          this.ws.send(JSON.stringify(msg))
          this.messages.push(msg)
          this.text = ''
          this.autoScroll()
        }
      },
      handleMessage(msg) {
        if (msg.role === 'system') {
          this.messages.push(msg)
        } else if (msg.role === 'gemma') {
          if (msg.pos === 0) {
            this.messages.push({
              role: msg.role,
              text: ''
            })
          } else if (msg.token) {
            const popped_messages = []
            let last_msg = this.messages.pop()
            while (last_msg.role !== msg.role) {
              popped_messages.push(last_msg)
              last_msg = this.messages.pop()
            }
            this.messages.push({
              role: msg.role,
              text: last_msg.text + msg.token
            })
            while (popped_messages.length > 0) {
              this.messages.push(popped_messages.pop())
            }
          }
        }
        this.autoScroll()
      },
      autoScroll() {
        this.$nextTick(() => {
          this.$refs.messages.$el.scrollTop = this.$refs.messages.$el.scrollHeight
        })
      }
    }
  })
</script>
