<!DOCTYPE html>
<html>
<head>
  <title>cgemma demo</title>
  <meta charset="UTF-8">
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link rel="stylesheet" href="https://unpkg.com/element-ui@2.15.14/lib/theme-chalk/index.css">
  <link rel="stylesheet" href="https://unpkg.com/prismjs@1.29.0/themes/prism.min.css">
  <link rel="stylesheet" href="https://unpkg.com/katex@0.16.9/dist/katex.min.css">
  <link rel="stylesheet" href="css/index.css">
</head>
<body>
  <div id="app" class="client-area">
    <div :style="appContainer">
      <el-card ref="messages" header="Chat to Gemma" :style="msgContainer">
        <div slot="header">
          <b>Chat to Gemma</b>
          <div style="float:right;margin-top:-1px;">
            <a class="github-button" href="https://github.com/ufownl/lua-cgemma" data-icon="octicon-star" aria-label="Star ufownl/lua-cgemma on GitHub">Star</a>
            <a class="github-button" href="https://github.com/ufownl" aria-label="Follow @ufownl on GitHub">Follow @ufownl</a>
          </div>
        </div>
        <table v-if="messages.length > 0">
          <tr v-for="(msg, idx) in messages" :key="'msg_' + idx">
            <td style="vertical-align:top;width:50px;">
              <img v-if="msg.role === 'gemma'" class="avatar" src="img/gemma_avatar.png">
              <img v-else-if="msg.role === 'user'" class="avatar" src="img/default_avatar.png">
            </td>
            <td>
              <div v-if="msg.role === 'system'">
                <b style="color:#909399">{{ msg.text }}</b>
              </div>
              <div v-else-if="msg.role === 'error'">
                <b style="color:#F56C6C">{{ 'Error: ' + msg.text }}</b>
              </div>
              <div v-else>
                <div style="margin-bottom:10px">
                  <b v-if="msg.role === 'user'" style="color:Chocolate">You</b>
                  <div v-else>
                    <b style="margin-right:10px">Gemma</b>
                    <i v-if="msg.status" style="color:#909399">{{ msg.status }}</i>
                  </div>
                </div>
                <div :ref="'msg_content_' + idx" class="bubble">
                  <vue-markdown v-if="msg.markdown" :linkify="false">{{ msg.text }}</vue-markdown>
                  <pre v-else-if="msg.text===''" class="el-icon-loading" style="font-size:16px"></pre>
                  <pre v-else style="font-size:16px">{{ msg.text }}</pre>
                </div>
              </div>
            </td>
          </tr>
        </table>
        <el-empty v-else />
      </el-card>
      <p>
        <el-popover ref="suggestions" placement="top-end" trigger="focus" title="Suggestions" :disabled="!suggestions">
          <el-button v-for="(sgt, idx) in suggestions" :key="'sgt_' + idx" type="text" @click="text=sgt">{{ sgt }}</el-button>
        </el-popover>
        <el-input v-model="text" v-popover:suggestions placeholder="Enter your message here" :disabled="!ws" @keyup.enter.native="sendMessage">
          <template v-if="vlm" slot="prepend">
            <el-upload class="image-uploader" :file-list="selectedFiles" :limit="1" :show-file-list="false" :auto-upload="false" accept="image/*" :on-change="selectImage">
              <img v-if="image" class="image" :src="imageUrl" />
              <span v-else class="el-icon-picture-outline image-uploader-icon" />
            </el-upload>
          </template>
          <el-button slot="append" :disabled="!text" @click="sendMessage">Send</el-button>
        </el-input>
      </p>
    </div>
  </div>
</body>
<script src="https://unpkg.com/vue@2.7.15/dist/vue.min.js"></script>
<script src="https://unpkg.com/element-ui@2.15.14/lib/index.js"></script>
<script src="https://unpkg.com/vue-markdown-v2@0.1.7/dist/vue-markdown.js"></script>
<script src="https://unpkg.com/prismjs@1.29.0/components/prism-core.min.js" data-manual></script>
<script src="https://unpkg.com/prismjs@1.29.0/plugins/autoloader/prism-autoloader.min.js"></script>
<script async defer src="https://buttons.github.io/buttons.js"></script>
<script>
  const wsUrl = window.location.origin.replace('http', 'ws') + '/cgemma/session'
  Vue.use(VueMarkdown);
  Prism.hooks.add('before-all-elements-highlight', env => {
    env.elements.forEach(element => {
      if (element.className.match(/c\+\+/i)) {
        element.className = 'language-cpp'  // Fix C++ parse issue
      } else if (element.className.match(/c#/i)) {
        element.className = 'language-csharp'  // Fix C# parse issue
      }
    })
  })
  new Vue({
    el: '#app',
    data() {
      return {
        clientHeight: 0,
        clientWidth: 0,
        ws: undefined,
        vlm: undefined,
        selectedFiles: [],
        messages: [{role: 'system', text: 'Loading model...'}],
        statuses: [
          undefined,
          'reading what you said ...',
          'viewing your image ...'
        ],
        suggestions: [
          'What is lua-cgemma?',
          'Who developed lua-cgemma?',
          'How can I install lua-cgemma?'
        ],
        image: undefined,
        text: ''
      }
    },
    computed: {
      appContainer() {
        const margin = this.clientWidth > 800 ? (this.clientWidth - 800) / 2 : 0
        return {
          marginLeft: margin + 'px',
          marginRight: margin + 'px',
          padding: '8px'
        }
      },
      msgContainer() {
        return {
          height: this.clientHeight - 90 + 'px',
          overflow: 'auto'
        }
      },
      imageUrl() {
        return URL.createObjectURL(this.image)
      }
    },
    mounted() {
      this.clientHeight = this.$el.clientHeight
      this.clientWidth = this.$el.clientWidth
      window.onresize = () => {
        this.clientHeight = this.$el.clientHeight
        this.clientWidth = this.$el.clientWidth
      }
      const ws = new WebSocket(wsUrl)
      ws.onerror = evt => {
        this.messages.push({
          role: 'error',
          text: 'Connection error!'
        })
        this.ws = undefined
      }
      ws.onclose = evt => {
        this.messages.push({
          role: 'error',
          text: 'Connection closed!'
        })
        this.ws = undefined
      }
      ws.onopen = evt => {
        ws.onmessage = evt => {
          this.handleMessage(JSON.parse(evt.data))
        }
        this.ws = ws
        this.keepalive()
      }
    },
    methods: {
      selectImage(file) {
        this.selectedFiles = []
        this.image = undefined
        if (file.size > this.vlm.max_file_size) {
          this.messages.push({
            role: 'error',
            text: 'Image size cannot exceed ' + this.vlm.max_file_size / (1024 * 1024) + 'MB!'
          })
          return
        }
        const reader = new FileReader();
        reader.onload = (e) => {
          this.image = new Blob([e.target.result], { type: file.raw.type });
        }
        reader.readAsArrayBuffer(file.raw);
      },
      sendMessage() {
        if (!this.text) {
          return
        }
        if (this.image) {
          const txt = this.text
          this.image.arrayBuffer().then(buf => {
            const arr = new Uint8Array(buf);
            let bin = '';
            arr.forEach(v => {
              bin += String.fromCharCode(v)
            })
            this.ws.send(JSON.stringify({
              role: 'user',
              image: btoa(bin),
              text: txt
            }))
          })
          this.messages.push({
            role: 'user',
            text: '![msg_img](' + this.imageUrl + ')\n\n' + txt,
            markdown: true
          })
        } else {
          this.ws.send(JSON.stringify({
            role: 'user',
            text: this.text
          }))
          this.messages.push({
            role: 'user',
            text: this.text,
            markdown: true
          })
        }
        this.suggestions = undefined
        this.image = undefined
        this.text = ''
        this.autoScroll()
      },
      keepalive() {
        setTimeout(() => {
          if (this.ws) {
            this.ws.send(JSON.stringify({ role: 'user' }))
            this.keepalive()
          }
        }, 30000)
      },
      handleMessage(msg) {
        if (msg.role === 'system') {
          this.vlm = msg.vlm_mode
          this.messages.push(msg)
        } else if (msg.role === 'gemma') {
          if (msg.pos <= 0) {
            const lastMsg = this.messages.findLast(x => x.role === msg.role)
            if (lastMsg && lastMsg.text === '') {
              lastMsg.status = this.statuses[-msg.pos]
            } else {
              this.messages.push({
                role: msg.role,
                text: '',
                status: this.statuses[-msg.pos]
              })
            }
          } else if (msg.pos >= msg.prompt_size) {
            const poppedMsgs = []
            let lastMsg = this.messages.pop()
            while (lastMsg.role !== msg.role) {
              poppedMsgs.push(lastMsg)
              lastMsg = this.messages.pop()
            }
            if (msg.token) {
              this.messages.push({
                role: msg.role,
                text: lastMsg.text + msg.token
              })
            } else {
              this.messages.push({
                role: msg.role,
                text: lastMsg.text,
                markdown: true
              })
              const content = this.$refs['msg_content_' + (this.messages.length - 1)][0]
              this.$nextTick(() => {
                Prism.highlightAllUnder(content)
              })
            }
            while (poppedMsgs.length > 0) {
              this.messages.push(poppedMsgs.pop())
            }
          }
        }
        this.autoScroll()
      },
      autoScroll() {
        this.$nextTick(() => {
          this.$refs.messages.$el.scrollTop = this.$refs.messages.$el.scrollHeight
        })
      }
    }
  })
</script>
