body {
  margin: 0;
  padding: 0;
}

table {
  border-spacing: 10px 20px;
}

pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

img[alt=msg_img] {
  width: 320px;
}

.client-area {
  position: absolute;
  top: 0px;
  bottom: 0px;
  width: 100%;
  overflow: auto;
}

.avatar {
  width: 48px;
  height: 48px;
}

.bubble {
  border-radius: 8px;
  padding: 0px 16px 0px 16px;
  display: inline-block;
  background-color: #f1f1f1;
}

.el-input-group__prepend {
  background-color: white;
  padding: 4px 4px 0px 4px;
}

.image-uploader .el-upload {
  border: 1px dashed #d9d9d9;
  border-radius: 6px;
  cursor: pointer;
  position: relative;
  overflow: hidden;
}

.image-uploader .el-upload:hover {
  border-color: #409EFF;
}

.image-uploader-icon {
  color: #8c939d;
  width: 28px;
  height: 28px;
  line-height: 28px;
  text-align: center;
}

.image {
  width: 28px;
  height: 28px;
  display: block;
}
